body {
  background-color: #fcebb6;
  background-image: url("img/background.jpg");
  color: #221811;
  font-family: Verdana, Arial, Sans-serif;
}

header {
  background-color: #d2b48c;
  background-image: url("img/javajamlogo.jpg");
  background-repeat: no-repeat;
  height: 150px;
}

h1 {
  font-size: 3em;
  padding-top: 45px;
  padding-left: 220px;
}

nav {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  float: left;
  width: 200px;
}

footer {
  background-color: #d2b48c;
  border-top: 2px solid #221811;
  font-size: 0.6em;
  font-style: italic;
  padding-bottom: 10px;
  text-align: center;
}

#wrapper {
  background-color: #231814;
  box-shadow: 3px 4px #a9a9a9b3;
  min-width: 900px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

h4 {
  text-transform: uppercase;
  border-bottom: wheat;
  padding-bottom: 0em;
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  clear: left;
}

main {
  padding-top: 0em;
  padding-bottom: 2em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: 200px;
  display: block;
  background-color: #fef6c2;
}

.details {
  overflow: auto;
  padding-left: 20%;
  padding-right: 20%;
}

img {
  padding-left: 10px;
  padding-right: 10px;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #fef6c2;
}

nav a:visited {
  color: #d2b48c;
}

nav a:hover {
  color: #cc9933;
}

* {
  box-sizing: border-box;
}
#heroroad {
  background-size: 100% 100%;
  background-image: url(img/heroroad.jpg);
  height: 250px;
}

#heromugs {
  background-size: 100% 100%;
  background-image: url(img/heromugs.jpg);
  height: 250px;
}

#heroguitar {
  background-size: 100% 100%;
  background-image: url(img/heroguitar.jpg);
  height: 250px;
}

main h2,
main p,
main h3,
main div,
main ul,
main h4,
main dl {
  padding-left: 3em;
  padding-right: 2em;
}

nav ul {
  padding-left: 0em;
  list-style: none;
}

.floatleft {
  float: left;
  padding-bottom: 2em;
  padding-right: 2em;
}

header,
nav,
main,
footer {
  display: block;
}

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  background-color: #ffffcc;
}

td,
th {
  padding: 10px;
}

tr:nth-of-type(odd) {
  background-color: #d2b48e;
}

form {
  padding: 2em;
}

label {
  float: left;
  display: block;
  text-align: right;
  width: 8em;
  padding-right: 1em;
}

input,
textarea {
  display: block;
  margin-bottom: 1em;
}

#mySubmit {
  margin-left: 9.5em;
}

#herojobs {
  height: 250px;
  background-image: url("img/herojobs.jpg");
  background-size: 100% 100%;
}

@media only screen and (max-width: 992px) {
  #herojobs {
    display: none;
  }
}

thead {
  color: red;
}

tfoot {
  color: green;
}